@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

:root {
  --clr-primary-500: #f43f5e;
  --clr-primary-50: #fff1f2;
}

h1,
h2,
h3,
h4,
h5,
h6,
p {
  color: var(--clr-primary-50) !important;
}
