# General
*.log
*.sql
*.sqlite
*.sln
# OS-specific
.DS_Store
Thumbs.db

## .NET Core / .NET 5+ API exclusions ##
# Binaries and object files
api/[Bb]in/
api/[Oo]bj/
# User-specific files
api/*.user
api/*.userosscache
api/*.suo
# Build results
api/[Ll]ogs/
api/[Aa]rtifacts/
# NuGet
api/*.nupkg
api/project.lock.json
# ReSharper
api/*.DotSettings
# Rider
api/.idea/
# Visual Studio Code
.api/.vscode/
# Visual Studio
api/.vs/
api/*.opendb
api/*.openproj
api/*.dbmdl
# ASP.NET Sensitive Files
api/appsettings*.json
!api/appsettings.json
!api/appsettings.Development.json

## React Client exclusions ##
# Dependencies
client/node_modules/
# Package lock
client/package-lock.json
# Build output
client/build/
# Misc
client/.env
client/.env.local
client/.env.development.local
client/.env.test.local
client/.env.production.local
# TypeScript
client/*.tsbuildinfo
# Logs
client/npm-debug.log*
client/yarn-debug.log*
client/yarn-error.log*
# Editor directories and files
client/.idea/
client/.vscode/
# Next.js
client/.next/
# Gatsby
client/.cache/
# Storybook
client/storybook-static

# Global TypeScript
*.tsbuildinfo

# Global Node
.npm
.npmrc
.node_repl_history
.yarn-integrity
.env
.env.test
.env.production
.eslintcache
